$bg-color: #2b2b2b;
$bg-color-title: #322f3f;
$bg-color-content: #413e4e;
$bright-color: #250f83;
$font-color: #d4d4d4;
$separator-color: #afafaf;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

html, body {
    min-height: 100vh;
}

div.cont-outer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

    background-color: $bg-color;
    color: $font-color;
}

div.info, div.content {
    padding: 3vh 3vw;
    border-radius: 1.5em;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.info {
    background-color: $bg-color-title;
    margin: 5vh 0;

    div.title h1 {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
}

div.content {
    background-color: $bg-color-content;
    display: flex;
    flex-direction: row;

    div.left-bar {
        max-height: 90vh;
        overflow-y: scroll;
        flex: 0.4;

        div#filetree {
            width: 100%;
            min-height: 50vh;
            background-color: $bg-color-title;
        }
    }

    div.right-bar {
        flex: 0.6;
        margin-left: 3vw;

        div.section {
            width: 90%;
            margin-left: 5%;
            margin-bottom: 2em;
    
            p {
                text-indent: unset;
                margin-bottom: 0.5em;

                span.input-label {
                    display: inline-block;
                    width: 7vw;
                }

                select {
                    min-width: 30vw;
                }

                button {
                    font-size: 1em;
                    padding: 0.5em;
                    border-radius: 0.25em;
                    background-color: $bg-color-title;
                    color: $font-color;
                    border: 1px solid $bg-color-title;
                    transition: background-color 0.25s linear;

                    :hover {
                        background-color: $bright-color;
                    }
                }
            }
        }
    }
}

div.separator {
    width: 90%;
    margin: 1em 0;
    margin-left: 5%;
    border: 1px solid $separator-color;
}

p {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-indent: 1em;
}

ol {
    width: 90%;
    margin-left: 5%;
}

ol, ul {
    padding-left: 1.2em;

    li {
        margin-bottom: 0.25em;
    }
}