$bg-color: #2b2b2b;
$bg-color-title: #322f3f;
$bg-color-content: #413e4e;
$bg-color-filetree: #c2bed4;
$bright-color: #250f83;
$font-color: #d4d4d4;
$separator-color: #afafaf;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

html, body {
    min-height: 100vh;
}

p {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-indent: 1em;
}

ol {
    width: 90%;
    margin-left: 5%;
}

ol, ul {
    padding-left: 1.2em;

    li {
        margin-bottom: 0.25em;
    }
}

div.cont-outer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

    background-color: $bg-color;
    color: $font-color;
}

div.info, div.content {
    padding: 3vh 3vw;
    border-radius: 1.5em;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.info {
    background-color: $bg-color-title;
    margin: 5vh 0;

    div.title h1 {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
}

div.content {
    background-color: $bg-color-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    div.left-bar {
        min-height: 90vh;
        flex: 0.4;

        div#filetree {
            width: 100%;
            height: 90vh;
            background-color: $bg-color-filetree;
            overflow-y: scroll;
            color: $bg-color;
        }

        div#legend {
            width: 100%;
            margin-bottom: 0.5em;

            p {
                margin-top: 0.5em;
                text-indent: 0;
            }

            div.split {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                div.half {
                    width: 50%;
                    
                    ul {
                        width: 100%;
                        height: 15em;
                        display: flex;
                        flex-direction: column;
                        justify-content: stretch;
                        padding-left: 0;

                        li {
                            flex: 1 1 0;
                            color: $bg-color;
                            margin-bottom: 0;
                            list-style: none;
                            text-indent: none;
                            padding-left: 0.5em;
                            text-align: center;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }

    div.right-bar {
        flex: 0.6;
        margin-left: 3vw;

        div.section {
            width: 90%;
            margin-left: 5%;
            margin-bottom: 2em;

            h2 {
                font-size: 1.75em;
                font-weight: 300;
            }
    
            p {
                text-indent: unset;
                margin-bottom: 0.5em;

                span.input-label {
                    display: inline-block;
                    width: 10vw;
                }

                select {
                    min-width: 30vw;
                }

                input[type="text"] {
                    min-width: 30vw;
                    font-size: 1em;
                }

                button {
                    font-size: 1em;
                    padding: 0.5em;
                    border-radius: 0.25em;
                    background-color: $bg-color-title;
                    color: $font-color;
                    border: 1px solid $bg-color-title;
                    cursor: pointer;
                    transition: background-color 0.25s linear;

                    &:hover {
                        background-color: $bright-color;
                    }
                }
            }
        }
    }
}

div.separator {
    width: 90%;
    margin: 1em 0;
    margin-left: 5%;
    border: 1px solid $separator-color;
}

.collapsible {
    background-color: $bg-color-title;
    cursor: pointer;
    padding: 0.5em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    color: $font-color;
    font-size: 1.25em;
    font-weight: bold;

    &:after {
        content: '\2795';
        font-size: 0.9em;
        color: $font-color;
        float: right;
    }
}

.collapsible-active, .collapsible:hover {
    background-color: $bright-color;
}

.collapsible-active:after {
    content: '\2796';
}

.collapsible-content {
    padding: 0 0.5em;
    max-height: 0;
    overflow: hidden;
    background-color: $bg-color-filetree;
    color: $bg-color;
    transition: max-height 0.2s ease-out;

    ul {
        margin: 0.5em 0;
    }
}